@font-face {
  font-family: 'coca';
  src: url('../Coca-ColaCareFontKaiTi.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'normal';
  src: url('../normal.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../Alibaba-PuHuiTi-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
